$("#flash_notice").html('<div class="callout success" data-closable><button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button><p><i class="fi-check"></i> <%= j flash[:success] %></p></div>');

<% if controller.action_name == "create" %>
  $("#new_bookmark").remove();
  $("#bookmark_buttons").html('<%= j render :partial => 'bookmarks/show' %>');

<% elsif controller.action_name == "destroy" %>
  $('a[href="/stories/<%= j @story.id.to_s %>/bookmarks/<%= j @bookmark.id.to_s %>"]').remove();
 $("#bookmark_buttons").html('<%= j render :partial => 'bookmarks/form' %>');
<% end %>